h1 Editing note
= render 'form'
= link_to 'Удалить', admin_diary_note_path(@diary, @note), method: :delete, data: { confirm: 'Вы уверены?' }
| |
= link_to 'Назад', admin_diary_note_path(@diary, @note)
