= @note.title
br
== @note.text
br

= link_to 'Изменить', edit_admin_diary_note_path(@diary, @note)
| |
= link_to 'Удалить', admin_diary_note_path(@diary, @note), method: :delete, data: { confirm: 'Вы уверены?' }
| |
= link_to 'Назад', admin_diary_notes_path(@diary)
