p Давно хотел свой сайт. Часть интернета, где можно хранить что-то своё. Заметки, фотографии, мысли. Наконец нашлось время и желание. Пока есть энтузиазм, постараюсь все-же сделать свою копилку информации.
p 2014.12.19
