p Давно хотел свой сайт. Еще в школе, наверное. Кусочек интернета, в котором можно хранить что-то своё. Заметки, фотографии, мысли. Наконец нашлось время и желание для оссуществления давней затеи. Пока есть энтузиазм, постараюсь все-же сделать свою маленькую копилку информации.
p 2014.12.19
